/*
 * common
 */
body {
    font-family: "メイリオ", sans-serif;
}


a {
    color: #333;
    font-weight: bold;
    text-decoration: underline;
}

a:focus, a:hover {
    color: #d20000;
    text-decoration: underline;
}

/* スマホだけ */
@media (max-width: 767px) {
    .container {
        padding-right: 0px;
        padding-left: 0px;
    }

    .photo {
        padding-right: 0px;
        padding-left: 0px;
    }
}


/*
 * header
 */

header {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    height: 100%;
    background-color: #FFAF00;
}

header div.logo {
    position: absolute;
}

header div.logo img {
    max-height: 100px;
}

header div.logosp {
    position: absolute;
}

header div.logosp img {
    display: none;
}

header .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: underline;
    background-color: #fff;
}

.menu .nav>li:before {
    content: "|";
    display: block;
    position: absolute;
    top:10px;
    left: 0px;
}

.menu .nav>li:last-child:after {
    content: "|";
    display: block;
    position: absolute;
    top:10px;
    right: 0px;
}

.menu .nav>li>a.off {
    text-decoration: none;
    color: #333;
    background-color: #FFF;
}

.menu .nav>li>a.on {
    text-decoration: none;
    color: #3c763d;
    background-color: #c1e2b3;
}

.menu .nav>li>a:hover {
    text-decoration: none;
    color: #3c763d;
    background-color: #c1e2b3;
}

/* スマホだけ */
@media (max-width: 767px) {
    header {
        padding-top: 3px;
        padding-bottom: 1px;
    }

    header div.logo img {
        display: none;
    }

    header div.logosp img {
        display: block;
        max-height: 40px;
        padding: 0px;
        margin-left: 10px;
        margin-top: 7px;
    }

    .menu .nav {
        display: none;
        position: absolute;
        top: 0px;
        z-index: 10;
    }

    .menu-icon {
        position: absolute;
        top:10px;
        right: 5px;
        font-size: 30px;
    }

    .menu .nav>li>a.off {
        text-decoration: none;
        color: #333;
        background-color: #eee;
    }

    .menu .nav>li>a.on {
        text-decoration: none;
        color: #3c763d;
        background-color: #c1e2b3;
    }

    .menu .nav>li:before {
        content: "";
    }

    .menu .nav>li:after {
        content: ">";
        display: block;
        position: absolute;
        top:10px;
        right: 0px;
    }

    .menu .nav>li>a:hover {
        text-decoration: none;
        color: #3c763d;
        background-color: #c1e2b3;
    }

/* スマホだけ */
@media (max-width: 767px) {
    header {
        padding-top: 3px;
        padding-bottom: 1px;
    }
}

/*
 * section
 */
section {
    margin-left: 100px;
    margin-right: 100px;
}

section div {
    padding-bottom: 5px;
}

section h3 {
    border-bottom: 1px solid;
    border-bottom-color: #999;
}

/* スマホだけ */
@media (max-width: 767px) {
    .pankuzu li:after {
        content: ">";
        display: block;
        position: absolute;
        top:0px;
        right: 10px;
    }
}

/*
 *
 */
section.index div.photo {
    margin-top: 10px;
}

/*
 * footer
 */
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #232323;
    color: #FFF;
}

footer address {
    padding-top: 20px;
}

