/*
 * common
 */
body {
    font-family: "メイリオ", sans-serif;
}


a {
    color: #333;
    font-weight: bold;
    text-decoration: underline;
}

a:focus, a:hover {
    text-decoration: underline;
}

/*
 * header
 */

header {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    height: 100%;
    background-color: #FFAF00;
}

header div.logo {
    position: absolute;
}

header div.logo img {
    max-height: 100px;
}

header div.logosp {
    display: none;
    position: absolute;
    z-index: 100;
}

header .menu .nav>li:before {
    content: "|";
    display: block;
    position: absolute;
    top:10px;
    left: 0px;
}

header .menu .nav>li:last-child:after {
    content: "|";
    display: block;
    position: absolute;
    top:10px;
    right: 0px;
}

header .menu .nav>li>a.off {
    text-decoration: none;
    color: #333;
    background-color: #FFF;
}

header .menu .nav>li>a.on {
    text-decoration: none;
    color: #3c763d;
    background-color: #c1e2b3;
}

header .menu .nav>li>a:hover {
    text-decoration: none;
}

/*
 * section
 */
section {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    padding-top: 10px;
}

section div {
    padding-bottom: 5px;
}

section h3 {
    border-bottom: 1px solid;
    border-bottom-color: #999;
}

/*
 * footer
 */
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #232323;
    color: #FFF;
    font-size: 9px;
}

footer address {
    padding-top: 20px;
}

/*
 * about
 */
section.about div.chara {
    float: right;
    margin-right: 50px;
}

section.about div.chara img{
    max-width: 200px;
}

/*
 * games
 */
section.games .media-object {
    width: 256px;
}

section.games .media-heading {
    border-left: 5px solid #5a5a5a;
    padding-left: 3px;
    font-weight: bold;
}

/*
 * blog
 */
section.blog {
    display: none;
}

section.blog .thumbnail {
    max-width: 100px;
}

section.blog-detail {
    display: none;
    margin-right: 200px;
    margin-left: 200px;
    font-size: 16px;
}

section.blog-detail h1 {
    border-bottom: 1px solid;
    border-bottom-color: #999;
}

section.blog-detail h2, div.md h2 {
    border-bottom: 0px;
    font-weight: bold;
}

/* 記事内画像 */
section.blog-detail img {
    max-width: 100%;
}

section.blog-detail p.pre {
    display: block;
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    padding-left: 18px;
    padding-right: 18px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}


/*
 * tool blog
 */


/* スマホだけ */
@media (max-width: 767px) {
    .container {
        padding-right: 0px;
        padding-left: 0px;
    }

    header {
        padding: 0px;
        margin-bottom: 10px;
        height: 55px;
    }

    header div.logo {
        display: none;
    }

    header div.logosp {
        display: block;
    }

    header div.logosp img {
        max-height: 40px;
        padding: 0px;
        margin: 8px;
        border: 3px solid #fff;
        float: left;
    }

    header div.logosp p {
        width: 300px;
        font-weight: bold;
        font-size: 25px;
        margin-top: 10px;
        color: #fff;
    }

    header .menu .nav {
        display: none;
        top: 0px;
        z-index: 10;
        right: 20px;
        height: 100%;
    }

    header div.menu-list {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 35px;
        z-index: 2;
    }

    header .menu-icon {
        position: absolute;
        top:10px;
        right: 5px;
        font-size: 30px;
    }

    header .nav {
        background-color: #fff;
    }

    header .menu .nav>li>a.off {
        text-decoration: underline;
        color: #333;
        background-color: #eee;
    }

    header .menu .nav>li>a.on {
        text-decoration: underline;
        color: #3c763d;
        background-color: #c1e2b3;
    }

    header .menu .nav>li:before {
        content: "";
    }

    header .menu .nav>li:after {
        content: "";
        display: block;
        position: absolute;
        top:10px;
        right: 0px;
    }

    header .menu .nav>li:last-child:after {
        content: "";
        display: block;
        position: absolute;
        top:10px;
        right: 0px;
    }

    header .menu .nav>li>a:hover {
        text-decoration: none;
        color: #3c763d;
        background-color: #c1e2b3;
    }

    section {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
    }

    /*
     * about
     */
    section.about ul.using li {
        margin-left: 0px;
    }

    /*
     * games
     */
     section.games .media-object {
        width: 96px;
     }
}



