<section class="games">
<h3>デジタルボードゲームシリーズ</h3>

<div class="media">
  <div class="media-left">
    <a href="https://time-is-delicious.firebaseapp.com/" target="_blank">
      <img class="media-object thumbnail" src="/img/games/info/tid.png">
    </a>
  </div>
  <div class="media-body">
    <h4 id="tid" class="media-heading">Time Is Delicious</h4>
    <p>
        デジタルボードゲーム第３弾<br>
        <a href="https://time-is-delicious.firebaseapp.com/howtoplay.html" target="_blank">遊び方を見る</a><br>
        <a href="https://time-is-delicious.firebaseapp.com/" target="_blank">ゲームを遊ぶ</a><br>
    <table class="table table-bordered">
    <tr>
        <td>タイトル</td>
        <td>Time Is Delicious</td>
    </tr>
    <tr>
        <td>対象ユーザ</td>
        <td>肉の熟成業務の経験者、または、熟成肉を作りたいと思っている人</td>
    </tr>
    <tr>
        <td>プレイ人数</td>
        <td>1~4人</td>
    </tr>
    <tr>
        <td>プレイ時間</td>
        <td>30分</td>
    </tr>
    </table>
    <pre>
2000後の未来
遺跡からカプセルのような遺物が発見された。
カプセルの中は気候がコントロールされており、あらゆるものが腐らずに保存できた。

これを手にしたものは熟成肉ビジネスを独占できる…
だが、発見した者は一人ではなかった！！！

かくして、カプセル争奪戦争が幕を開ける。

己の正義を旨味に変えろ！
makimaki-softデジタルボードゲーム第３弾 Time is Delicious ここにあり。
    </pre>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-left">
    <a href="https://mypkfauna.firebaseapp.com/">
      <img class="media-object thumbnail" src="/img/games/info/game_pkfauna.png">
    </a>
  </div>
  <div class="media-body">
    <h4 id="pkfauna" class="media-heading">ポケモンファウナ</h4>
    <p>
    I hava a Fauna. I hava a Pokemon. Ah! Pokemon Fauna. <br>
    <a href="https://mypkfauna.firebaseapp.com/howtoplay.html">遊び方</a><br><br>
    ゲームボードはこちらから
    <a href="https://github.com/makimaki-soft/PKFauna/raw/master/public/res/mapa3.pdf">pdf</a>
    <a href="https://github.com/makimaki-soft/PKFauna/raw/master/public/res/mapa3.png">png</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-left">
      <img class="media-object thumbnail" src="/img/games/info/game_bokupan.png">
  </div>
  <div class="media-body">
    <h4 class="media-heading">僕がパンツを好きになった理由</h4>
    <p>
        まきまきソフト最初のゲーム。現在、非公開。<br>
    <table class="table table-bordered">
    <tr>
        <td>タイトル</td>
        <td>僕がパンツを好きになった理由</td>
    </tr>
    <tr>
        <td>対象年齢</td>
        <td>良識のある15歳以上</td>
    </tr>
    <tr>
        <td>プレイ人数</td>
        <td>4人</td>
    </tr>
    </table>
    [背景]あなたはパンツをこよなく愛する紳士です。家宅にしｎ...訪問しパンツを得て、日々を過ごしていました。
    そんな折、パンツへの愛を競い合うコンテストの存在を耳にします。あなたは自身の愛が一番だと示すため、コンテストに参加することにしました。<br>
    [概要]ゲームは各プレイヤーが順に行動を行うターン制です。全区画の住人のパンツを1番最初にすべて集めたプレイヤーが勝ちです。警察官に捕まらないように移動したり、警察官の進行方向を変えて戦います。
    </p>
  </div>
</div>
</section>
