<header>
    <div class="container">
        <div class="logo"><a href="/"><img class="img-thumbnail" src="/img/biglogostyle.png"></a></div>
        <div class="logosp"><a href="/"><img class="img-thumbnail" src="/img/favicon.ico"></a></div>
    </div>
    <div class="container">
        <nav class="menu">
        <div class="visible-xs-block menu-icon">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </div>
        <div class="col-xs-18 col-md-9 col-md-offset-3"> <!-- PC -->
            <ul class="nav nav-justified">
                <li class="about col-xs-6 col-xs-offset-6 col-md-3"><a href="/">HOME</a></li>
                <li class="schedule col-xs-6 col-xs-offset-6 col-md-3"><a href="/about/">ABOUT</a></li>
                <li class="report col-xs-6 col-xs-offset-6 col-md-3"><a href="/games/">GAMES</a></li>
             </ul>
        </div>
        </nav>
    </div>
</header>