<section class="index container">
    <div class="photo col-xs-18 col-md-12">
        <a href="/#/games/#tid"><img class="img-thumbnail" src="img/games/lineup_3.png"></a>
    </div><!-- spaces-post-content -->

    <div class="info col-xs-18 col-md-12">
        <h3>お知らせ</h3>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="img/games/info/tid.png">
                <div class="caption">
                <span>c93出展 <a href="/#/games/#tid">Time is Delicious</a></span>
                    <p>2017/12/29(木) 公開しました。</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="img/biglogostyle.png">
                    <div class="caption">
                        <p>ホームページをリニューアルしました。見た目はあまり変わってないですが。AnguraJSを導入しました。</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="img/games/info/game_pkfauna.png">
                    <div class="caption">
                    <span>c91出展 <a href="/#/games/#pkfauna">ポケモンファウナ</a></span>
                        <p>2016/12/29(木) 公開しました。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- main-content -->
