<section class="index container">
    <div class="photo col-xs-18 col-md-12">
        <a href="https://mypkfauna.firebaseapp.com/"><img class="img-thumbnail" src="img/games/lineup_2.png"></a>
    </div><!-- spaces-post-content -->
    <div class="info col-xs-18 col-md-12">
        <h3>お知らせ</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="img/games/info/game_pkfauna.png">
                    <div class="caption">
                    <span>c91出展 <a href="/games#pkfauna">ポケモンファウナ</a></span>
                        <p>2016/12/29(木) 公開しました。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- main-content -->